h1,
p, body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tblData tr td {
  background-color: aquamarine;
  padding: 10px;
}
.tblData tr th {
  background-color: rgb(6, 46, 33);
  padding: 10px;
  color: #fff;
  text-align: left;
}
